
@{
    ViewBag.Title = "Convert";
}

<h2>Choose file to convert.</h2>

<form action="/Convert/" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" class="form-control-file" name="Document" />
    </div>
    <button type="submit"" class="btn btn-primary">Upload</button>
</form>
<br /><br />

<h3>Your files</h3>

<table class="table">
    @foreach (var f in ViewBag.Files)
    {
        <tr>
            <td>
                <strong>@f.ToString()</strong>
            </td>
            <td>
                @if (@f.ToString().EndsWith(".pdf"))
                {
                    @Html.ActionLink("View", "Show", "Convert", new { fileName = @f.ToString() }, null)
                }
            </td>
            <td>
                @Html.ActionLink("Download", "Get", "Convert", new { fileName = @f.ToString() }, null)
            </td>
            <td>
                <span onclick="return confirm('Are you sure to delete?')"><a href="/Convert/Delete?fileName=@f.ToString()" class="delLink" style="color:red;">Delete</a></span>
            </td>
        </tr>
    }
</table>